<% if (user) { %>

  <form action="/logout" method="POST">
    &emsp;&emsp;&ensp; Email: &emsp;<%= user.email %> &emsp;<input type="submit" value="Logout">
  </form>

<% } else { %>

  <a href ='/login'>log in</a> | <a href ='/register'>register</a>

<% } %>



