<% if (user) { %>

  <form action="/logout" method="POST">
    &emsp;&emsp; Email: <%= user.email %> <input type="submit" value="Logout">
  </form>

<% } else { %>

  <a href ='/login'>log in</a> | <a href ='/register'>register</a>

<% } %>



