<!DOCTYPE html>
<html>
<head>
  <title>SUP</title>
</head>
<body>
<br>
<h2>&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;<a href ='/login'>LOG IN</a> || <a href ='/register'>REGISTER</a></h2>
<br>
<img src='https://i.imgur.com/meftV0q.gif'>
</body>
</html>