<!DOCTYPE html>
<html>
<head>
  <title>SUP FUCKERS</title>
</head>
<body>
<h1>SUP FUCKERS, welcome to mah page</h1>
<br>
<h2><a href ='/login'>LOG IN</a> || <a href ='/register'>REGISTER</a></h2>
</body>
</html>