<form action='/register' method='POST'>
  E-mail:<br>
  <input type="email" name="email" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>