<!DOCTYPE html>

<html lang = 'en'>

<head>

  <title>TinyApp</title>

</head>

<<body>
  <ul>
        <table>
  <tr>
    <th>Shortened URL</th>
    <th>Original URL</th>
  </tr>
  <tr>
    <td><%= shortURL %></td>
    <td><%= originalURL %></td>
  </tr>
</table>
<!-- <button><a href = '#'>SHORTEN URL</a></button> -->
  </ul>
</body>


</html>